{% extends 'base/base.html' %}
{% load static %}

{% block style %}
    <style>
        .paddingtop{
            padding-top: 10%;
        }
        .landingbtn{
            margin-bottom: 5px;
            background-color: #371795a3;

            color: white;
{#            width: 100%;#}
{#            border: 1px solid white;#}
            font-size: 17px;
        }
        .landingbtn:hover{
            background-color: white;
            border: 1px solid #371795a3 ;
        }
        .navbar-default{
  background-color:transparent ;
            border: none;
}
    .navbar-fixed-top.scrolled {
  background-color: #ffffff !important;
        border-bottom: 2px solid #371795a3;
  transition: background-color 200ms linear;
}
.quote {
    color: #45801b;
    text-align: center;
    margin-bottom: 30px;
}


#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color:  #45801b;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
    .service{
         padding: 20px;
          -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
        height: 350px;
    }
    .biger{
          padding: 5px;
            height: 400px;
    }
    .servicecard{
        border-radius: 5px;
    }
    .card1{
        background: #5967C3;
  background: -webkit-linear-gradient(left top, #5967C3, #83cedc);
  background: linear-gradient(to bottom right, #5967C3, #83cedc);
    }
    .card2{
        background: #ffaec2;
  background: -webkit-linear-gradient(left top, #ffaec2, #7e4aaf);
  background: linear-gradient(to bottom right, #ffaec2, #7e4aaf);
    }
    .card3{
          background: #CA619C;
  background: -webkit-linear-gradient(left top, #CA619C, #DBC084);
  background: linear-gradient(to bottom right, #CA619C, #DBC084);
    }
    p{
        font-size: 17px;
    }
    .servicebtn{
       background-color: white;border-radius: 30px;position: absolute;bottom: 30px;right: 25%;
        font-weight: bold;
        color: #89879d;
        display: none;
         -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
    }
    .servicebtnshow{
        display: inherit;
    }

    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row" style="background-image: url('{% static 'home/pharmacy.jpg'%}');background-size: cover;min-height: 100vh;background-attachment: fixed">

        <div class="col-sm-6 col-xs-12 paddingtop text-center" style="height: 100%">
            <h1  style="color: #45801b;font-size: 60px">Tyson Pharmacy</h1>
            <h2 >refill your RX easy as cake</h2>
            <p><a class="btn  landingbtn">order emergency refill fast </a> <a class="btn  landingbtn">order refill RX</a></p>
{#            <ul style="list-style: none;padding: 0">#}
{#                <li ><a class="btn  landingbtn">order emergency refill fast </a></li>#}
{#                <li ><a class="btn  landingbtn">order refill RX</a></li>#}
{#                <li ><a class="btn  landingbtn">order free products </a></li>#}
{#            </ul>#}
            <br>
            <hr>
            <h1>ready to talk?!</h1>
            <a href="" class="btn landingbtn">just click me!!</a>
        </div>


        <div class="col-sm-6 col-xs-12"> </div>
    </div>
        <div class="row" style="background: #3C385C;background: -webkit-linear-gradient(to right, #3C385C, #6c6896);background: linear-gradient(to right, #3C385C, #6c6896);height: 500px">
            <h1 class="text-center" style="color: white">Our services</h1>
            <div class="col-md-4 col-xs-12 service">
                <div class="servicecard card1 text-center" style="background-color: red;height: 100%;width: 100%">
                    <p class="text-center" style="color: white;font-size: 40px">online drug store</p>
                    <p>hajme kami az tozihat ke man hich idea nadaram</p>
                    <a class="btn servicebtn" style="background-color: white;border-radius: 30px;position: absolute;bottom: 30px;right: 25%">order emergency refill fast </a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 service biger">
                 <div class="servicecard card2 text-center" style="background-color: red;height: 100%;width: 100%">
                     <p class="text-center" style="color: white;font-size: 40px">RX refill and emergencu refill</p>
                     <p>hajme kami az tozihat ke man hich idea nadaram</p>
                     <a class="btn servicebtn servicebtnshow" style="">order emergency refill fast </a>
                 </div>
            </div>
            <div class="col-md-4 col-xs-12 service">
                 <div class="servicecard card3 text-center" style="background-color: red;height: 100%;width: 100%">
                     <p class="text-center" style="color: white;font-size: 40px">consulting</p>
                     <p>hajme kami az tozihat ke man hich idea nadaram</p>
                     <a class="btn servicebtn" style="">order emergency refill fast </a>
                 </div>
            </div>

        </div>
        <div class="row" style="background-color: #73a8d3">
            <div class="col-md-5 col-xs-12">
                <img src="{% static 'home/doctor.png' %}" alt="" width="100%">

            </div>
            <div class="col-md-7 col-xs-12" style="">
                <h1 class="text-center">our mission</h1>
                <div class="row text-center">
                    <div class="col-sm-6 col-xs-12" style="margin-top: 20px;margin-bottom: 40px">
                        <span class="glyphicon glyphicon-cog" style="font-size: 30px;color: #52b0ff"></span>
                        <p>yek sery mision o cherto pert</p>
                    </div>
                    <div class="col-sm-6 col-xs-12" style="margin-top: 20px;margin-bottom: 40px">
                        <span class="glyphicon glyphicon-cog" style="font-size: 30px;color: #52b0ff"></span>
                        <p>yek sery mision o cherto pert</p>
                    </div>
                    <div class="col-sm-6 col-xs-12" style="margin-top: 20px;margin-bottom: 40px">
                        <span class="glyphicon glyphicon-cog" style="font-size: 30px;color: #52b0ff"></span>
                        <p>yek sery mision o cherto pert</p>
                    </div>
                    <div class="col-sm-6 col-xs-12" style="margin-top: 20px;margin-bottom: 40px">
                        <span class="glyphicon glyphicon-cog" style="font-size: 30px;color: #52b0ff"></span>
                        <p>yek sery mision o cherto pert</p>
                    </div>
                </div>

            </div>


        </div>
    <div class="row text-center" style="">
        <h1 style="color: #45801b ">Download Our Free Mobile App</h1>
        <div class="col-sm-6 col-md-3 col-xs-12">
            <img src="{% static 'home/drug.png' %}" alt="" style="background-color:  #45801b;width: 120px">
            <br>
            <p style="color: #45801b">Refill on-the-go</p>
            <p>Refill your medications 24/7 without logging into your profile.</p>
        </div> 
        <div class="col-sm-6 col-md-3  col-xs-12">
            <img src="{% static 'home/pill.png' %}" alt="" style="background-color:  #45801b;width: 120px">
            <br>
            <p style="color: #45801b">Pill and Refill Reminders</p>
            <p>Refill your medications 24/7 without logging into your profile.</p>
        </div>
        <div class="col-sm-6 col-md-3  col-xs-12">
            <img src="{% static 'home/profile.png' %}" alt="" style="background-color:  #45801b;width: 120px">
            <br>
            <p style="color: #45801b">User Profiles</p>
            <p>Refill your medications 24/7 without logging into your profile.</p>
        </div>
        <div class="col-sm-6 col-md-3  col-xs-12">
            <img src="{% static 'home/delivery.png' %}" alt="" style="background-color:  #45801b;width: 120px">
            <br>
            <p style="color: #45801b">Delivery Options</p>
            <p>Refill your medications 24/7 without logging into your profile.</p>
        </div>
    </div>
        <div class="row" style="background-color: #f1f1f1">
            <br>

			<div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1" class="active"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2" ></li>

				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="item">
				    	<blockquote>
				    		<p>"Super friendly staff, extremely fast service. And their pricing is competitive"</p>
				    	</blockquote>
                        <p class="text-center">- A 5-Star Google Review</p>
				    </div>
				    <div class="item">
				    	<blockquote>
				    		<p>One of the best pharmacies around.</p>
				    	</blockquote>
                        <p class="text-center">- A 5-Star Google Review</p>
				    </div>
				    <div class="active item">
				    	<blockquote>
				    		<p>Very well informed and much more interested in you than big companies.</p>
				    	</blockquote>
                        <p class="text-center">- A 5-Star Google Review</p>
				    </div>

				  </div>
				</div>
			</div>


        </div>
    <div class="row text-center" style="background-image: url('{% static 'home/pharmacy.jpg' %}');height: 300px;background-attachment: fixed;background-position: right;background-size: cover">
        <h1>under construction</h1>
    </div>
    </div>



    <script>
    $(function () {
  $(document).scroll(function () {
	  var $nav = $(".navbar-fixed-top");
      console.log($nav.height())
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
	});
});

    $(".service").click(function(){
  $(".service").removeClass("biger");
  $('.servicebtn').removeClass('servicebtnshow')
        var btn = $( "a.servicebtn" );
  $(this).addClass("biger");
  $(this).find(btn).addClass('servicebtnshow')
});
    </script>

{% endblock %}