{% extends 'base/profile-base.html' %}
{% load  static %}

{% block style %}
    <style>
    @media screen and (max-device-width: 991px){
        .hide-mob{
            display: none;
        }
    }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-4 col-xs-12" id="questionlist" style="background: #444a4d;color:#c5c5c5;padding:10px 0px;overflow-y: scroll">
            {% for i in question %}
                <div style="height: 80px;padding: 10px 10px;position: relative">
                    <a href="{% url 'user_profile:consulting-show' i.pk %}" style="position: absolute;right: 0;top: 0;width: 100%;height: 100%"></a>
                    <p>{{ i.body|truncatechars:30}}</p>
                    <p>{{ i.date }}</p>

                </div>
                <hr style="margin: 5px 0px">
            {% endfor %}
            <br>
            <div class="text-center">
                <a href="{% url 'user_profile:consulting_ask' %}" class="btn btn-success text-center">+ ask new question</a>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 hide-mob" style="">
            <div class="text-center">
                <br>
                <img src="{% static 'consulting/question.png' %}" alt="" width="200px">
                <h3>select from left consul</h3>
            </div>
        </div>
    </div>

</div>
    <script>
        $(document).ready(function () {
            var height=$(document).height()
            var navheight=$('#nav').height()
            var listheight=(height-navheight).toString()+'px'
            console.log(listheight)
            $('#questionlist').css('height',listheight)
            console.log(height-navheight)
        })
    </script>


{% endblock %}