{% extends 'base/profile-base.html' %}
{% block content %}
 <div class="container-fluid">
    <div class="row">
        <br>
        <br>
    <div class="col-md-8 col-md-offset-2 col-xs-12 " >
    <h3 style="color: #848484;">update Your Password</h3>
    <div style="padding: 10px;background-color: white;border-radius: 10px">
    <form method="post" action="" class="form-horizontal">
 {% csrf_token %}
    {% for field in form %}
              <div class="form-group" style="margin: 0">

                <span>{{ field.errors }}</span>
                <label>{{ field.label_tag }}</label>

              <input class="form-control" type="password" name="{{ field.name }}">
              </div>
        {% endfor %}

        <br>
        <button class="btn btn-success" type="submit" >Submit</button>

</form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}