{% extends 'base/profile-base.html' %}
{% block content %}
 <div class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
    <h3>update yout informations</h3>
    <form method="post" action="" class="form-horizontal">
 {% csrf_token %}
    {% for field in form %}
              <div class="form-group" style="margin: 0">

                <span>{{ field.errors }}</span>
                <label>{{ field.label_tag }}</label>
{#                <div class="">{{ field }}</div>#}
              <input class="form-control" type="text" name="{{ field.name }}" value="{{ field.initial }}">
              </div>
        {% endfor %}

        <br>
        <button class="btn btn-lg btn-primary" type="submit" >Edit</button>

</form>
    </div>
    </div>
    </div>
{% endblock %}