{% extends 'base/profile-base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container-fluid">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12" style="background-color: white;padding: 10px;border-radius: 5px">
                <h3>chose one of your previous order to refill</h3>
                <hr>
                {% for i in order%}
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            {% for j in i.drug_set.all %}
                                <p>{{ j.drug_name }}; dose: {{ j.drug_dose }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <p>{{ i.updated }}</p>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <a href="{% url 'refill:one-click-refill-submit' i.pk %}" class="btn btn-success">refill this</a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
    </div>
{% endblock %}