{% extends "base/base.html" %}

{% block title %}update_profile{% endblock %}
{% block content %}
    <h1>update your profile</h1>
    <form action="/user/send-update-profile/" method="POST">{% csrf_token %}
        <label>
            first_name:
        </label><br/>
            {{ form.first_name }}
        <label>
            last_name:
        </label><br/>
            {{ form.last_name }}
        <label>
            email:
        </label><br/>
        {{ form.email }}
        <button type="submit">submit</button>
    </form>

{% endblock %}