    <div>
    <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <label >Dr name </label>
                        <input  class="form-control"  name="Dr_name" placeholder="Enter the whole name of your doctor">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <label >Dr's phone number</label>
                        <input  class="form-control"  name="Dr_phone_number" placeholder="enter your doctor's phone number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <label >Dr address</label>
                        <input  class="form-control"  name="Dr_address" placeholder="Enter your dr address">
                        </div>
                    </div>
                     <div class="form-group">
                         <div class="col-sm-offset-2 col-sm-10">
                        <label >last_pharmacy</label>
                        <input  class="form-control"  name="last_pharmacy" placeholder="Enter your last pharmacy">
                        </div>
                     </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                         <label >last_pharmacy_adrress</label>
                         <input  class="form-control"  name="last_pharmacy_adrress" placeholder="last_pharmacy_adrress">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                         <label >drug_name</label>
                         <input  class="form-control"  name="drug_name" placeholder="Enter your drug name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                         <label >drug_dose</label>
                         <input  class="form-control"  name="drug_dose" placeholder="drug_dose">
                        </div>
                    </div>

                    <br>
                    <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary " type="submit" style="">submit</button>
                    </div>
                </form>
    </div>