{% extends "base/base.html" %}

{% block content %}
  <form method="POST" action="" autocomplete="off">
    {% csrf_token %}
    {% if braintree_error %}
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">&times;</button>
            {{ braintree_error|safe }}
        </div>
    {% endif %}
    <div class="braintree-notifications"></div>
      <div id="dropin-container"></div>
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Pay now!" />
  </form>

<script src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>
<script>
    // Remember? You generated the client token in your view.
    var braintree_client_token = "{{ braintree_client_token }}";

        function braintreeSetup() {
            // Here you tell Braintree to add the drop-in to your division above
            braintree.dropin.create({
                authorization:braintree_client_token,
                container: "#dropin-container"})
               //  , function (obj) {
                    // Errors will be added to the html code
                 //   $('[type=submit]').prop('disabled', false);
                  //  $('.braintree-notifications').html('<p class="alert alert-danger">' + obj.message + '</p>');
                  //  console.log(obj.message);
               // });

        }
        braintreeSetup();
        $('form').submit(function () {
            $('[type=submit]').prop('disabled', true);
            $('.braintree-notifications').html('');
        }
    );
</script>
{% endblock %}