{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    {{ drug_name }}
{% endblock %}
{% block content %}
    <div class="">
            <img src="{% if drug.drug_pic%}{{ drug.drug_pic.url }}{% else %}{% static "" %}{% endif %}"
            <h4>{{drug.drug_name}} {{drug.dose }}</h4>
            <h1>{{ drug.drug_company }}</h1>
            <p class="text-lg-right">${{ drug.price }}</p>
            {{ drug.description }}
        <a href="{% url 'cart:cart_add' drug.id %}">add to cart</a>

    </div>
{% endblock %}