{% extends 'base/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'product/product-list-style.css' %}">
{% endblock %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <br>
    <br>

<div class="container-fluid" style="background-color: #f1f1f1">
    <br>
    <br>



<div class="row">
<div class="col-sm-3  hidden-xs" style="padding: 10px;">
        <div class="affix" style="height: 200px;margin: auto;width: inherit ">
            <div style="background-color: #fff;margin-bottom: 10px;padding: 5px;">
                <h3>categouries</h3>
                <ul class="nav nav-pills nav-stacked">

        <li {% if not category %}class="active"{% endif %}>
            <a href="{% url 'product:index' %}">All</a>
        </li>
        {% for item in categories %}
            <li {% if category.slug == item.slug %}class="active" {% endif %}>
                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>

            </div>
            <div style="background-color: #fff;padding: 5px">
                <h3>search in products</h3>
                <form class="navbar-form" method='GET' action='' >
                    <div class="input-group">
                        <input class="form-control" placeholder="search" name="q" type="text" value='{{ request.GET.q }}'>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>
<div class="col-sm-9" style="padding:10px 20px">
{% if drugs %}


<div class='' style="background-color: #fff; padding: 5px">
    <div class="text-center row">

        <h1 style="color: #951768;">products</h1>
    </div>

    <br>


    <div class="row" style="">


        <div style="width: 95%;margin: auto">
            {% for item in drugs %}
                <div class="col-md-3 col-sm-6 col-xs-12" style="height: 320px;padding: 10px;border: 1px solid silver">
                    <div class="product-img" style="height: 200px;background-image: {% if item.drug_pic %} url('{{ item.drug_pic.url }}'){% else %}url('{% static 'icons/drugs.png' %}'){% endif %};background-size: contain;background-repeat: no-repeat;background-position: center">
                        {% if item.price == 0 %}
                        <div class="circle" style="position: absolute;top: 20px;left: 20px;height: 50px;width: 50px;border-radius: 100%;background-color: #1e7e34;align-items: center">
                            <p class="text-center" style="color: white;margin: 15px 0">Free!</p>
                        </div>
                        {% endif %}
                        <div class="opa-0" >

                            <div class="well" style="height: 150px;overflow: scroll;margin-bottom: 10px">
                                {{ item.description }}
                            </div>
                            <div class="text-center">
                                <a class="btn btn-success" href="{% url 'product:detail' item.slug %}" data-toggle="popover" data-trigger="hover" data-content="more details" data-placement="left"><i class="fa fa-search" aria-hidden="true" ></i></a>
                                <a class="btn btn-success" id="cart{{ item.pk }}" onclick="add_to_cart({{ item.pk }})" data-toggle="popover" data-trigger="hover" data-content="add to cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h4 class="">{{ item.drug_name }}</h4>
                        <p >
                            {% if item.price == 0 %}
                            <span class="disabled" style="font-size: 17px">Free!!</span>
                            {% else %}
                            <span class="disabled" style="font-size: 17px">{{ item.price }}</span>
                            {% endif %}

                        </p>
                    <div style="border-top: 1px solid silver;width: 100%">
                        <div class="col-xs-6" style="padding: 0">
                             <a class="btn" onclick="add_to_cart({{ item.pk }})" style="width: 100%;border-right: 1px solid silver;border-radius: 0;" data-toggle="popover" data-trigger="hover" data-content="add to cart"> <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-6" style="padding: 0">
                            <a class="btn " href="{% url 'product:detail' item.slug %}" data-toggle="popover" data-trigger="hover" data-content="more details" data-placement="left" style="width: 100%;border-left: 1px solid silver;border-radius: 0"><i class="fa fa-search" aria-hidden="true" ></i></a>
                        </div>
                    </div>


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="row text-center">
        <ul class="pagination">
   <li>
        {% if drugs.has_previous %}
            <a href="?{{ page_request_var }}={{ drugs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        {% else %}
{#            <a class="disabled"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>#}
        {% endif %}
    </li>
    <li>
        <a class="disabled">page{{ drugs.number }} / {{ drugs.paginator.num_pages }} </a>
    </li>

     <li>
        {% if drugs.has_next %}
            <a href="?{{ page_request_var }}={{ drugs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        {% else %}
{#            <a class="disabled"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>#}
        {% endif %}
    </li>
  </ul>
    </div>


</div>



{% else %}
    <div style="height: 60vh;background-color: #fff">
    <div style="background-color: #fff">
    <h3 class="text-center">oops this categoury is empty</h3>
    </div>
    </div>
{% endif %}
</div>
</div>
</div>
{% endblock %}
