<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'cmd/jquery-ui.min.js' %}"></script>
    <script src="{% static 'cmd/bootstrap.js' %}"></script>

    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">tyson pharmacy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'product:index' %}">Free products</a></li>
        <li><a href="{% url 'product:index' %}">consulting</a></li>
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">One more separated link</a></li>#}
{#          </ul>#}
{#        </li>#}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
            <a class="btn-success  test" style="margin: 10px 0;padding: 5px 15px;border-radius: 5px;" href="{% url 'cart:cart_detail' %}" data-toggle="popover">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i> your cart:
              {% if cart.len > 0 %}
                  <span class="cart-lenght">{{ cart.len }}</span>
              {% else %}
                  <span class="cart-lenght">0</span>
              {% endif %}
         </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
              {% if request.user.is_authenticated %}
                <li><a href="">{{ request.user.username }}</a></li>
                <li><a href="{% url 'user_profile:logout' %}">log Out</a></li>
                {% else %}
            <li><a href="#">Login</a></li>
            <li><a href="#">Sing up</a></li>
              {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
     <div>

      </div>
  </div><!-- /.container-fluid -->
</nav>

<br>
<br>    
<br>
<br>
<br>
    {% block content %}
    {% endblock %}

<footer style="background-color: #f1f1f1">
{#    <img src="{% static 'blog/steve.jpg' %}" style="visibility: hidden;" />#}
<div class="text-center" style="padding: 100px 0">
    <h1><a class="" href="" style=" font-family: 'Arial black';">pharmacy</a></h1>
    <p>
        <a target="_blank" style="padding-right: 0.5rem;"  href="" class="" ><i  class="fa fa-paper-plane fa-2x " ></i></a>
        <a target="_blank" style="padding-right: 0.5rem;"  href="" class=""><i i class="fa fa-instagram fa-2x "></i></a>
        <a target="_blank" style="" href= "" class=""><i  class="fa fa-envelope-square fa-2x "></i></a>
        <a target="_blank" style="" href="" class=""><i  class="fa fa-facebook fa-2x "></i></a>
        <a target="_blank" style="" href="" class=""><i  class="fa fa-twitter fa-2x "></i></a>
        <a target="_blank" style="" href="" class=""><i  class="fa fa-google-plus fa-2x "></i></a>
    </p>
    <p style="">
        <a type="button" href="" data-toggle="modal" data-target="#login" style=""><i class="fa fa-sign-in" aria-hidden="true"></i> login </a> |
        <a type="button" href="" data-toggle="modal" data-target="#aboutUs" style=""><i class="fa fa-eye" aria-hidden="true"></i> about us </a> |
        <a type="button" href="" data-toggle="modal" data-target="#callUs"style=""><i class="fa fa-phone" aria-hidden="true"></i> call us </a>
    </p>
    <p>AllRight reserved</p>
</div>

</footer>

<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin-top: 70px;width: 90%">

    <!-- Modal content-->
      <div class="modal-content" style="background-color: #253035;color: #f1f1f1">
        <div class="modal-header" style="border: none">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">login</h4>

      </div>
        <div class="modal-body">
          <div class="row">
    <div class="col-md-6 col-xs-12" style="">
                  <h1>register</h1>
                  <form class="form-signin text-center" action="{% url 'user_profile:register' %}?next={{ request.path }}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="teacher" class="col-sm-3 control-label">first_name:</label>

                              <div class="col-sm-offset-2 col-sm-6">
                                  <input  class="form-control"  value="" name="first_name">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="teacher" class="col-sm-3 control-label">last_name:</label>

                              <div class="col-sm-offset-2 col-sm-6">
                                  <input  class="form-control"  value="" name="last_name">
                              </div>
                          </div>
                          <div class="form-group">
                              <label  for="teacher" class="col-sm-3 control-label">email:</label>

                              <div class="col-sm-offset-2 col-sm-6">
                                  <input type="email" class="form-control"  value="" name="email">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="teacher" class="col-sm-3 control-label">password:</label>

                              <div class="col-sm-offset-2 col-sm-6">
                                  <input type="password" class="form-control"  value="" name="password">
                              </div>
                          </div>
                          <br>
                          <button class="btn btn-primary " type="submit" style="">submit</button>
                      </form>

              </div>
    <div class="col-md-6 col-xs-12" style="">
        <h1>login form</h1>
                          <form class="form-signin text-center" action="{% url 'user_profile:login' %}?next={{ request.path }}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="teacher" class="col-sm-3 control-label">email:</label>

                              <div class="col-sm-offset-2 col-sm-6">
                                  <input  class="form-control"  value="" name="email" type="email">
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="teacher" class="col-sm-3 control-label">password:</label>

                              <div class="col-sm-offset-2 col-sm-6">
                                  <input type="password" class="form-control"  value="" name="password">
                              </div>
                          </div>
                          <br>
                          <button class="btn btn-primary " type="submit" style="">submit</button>
                      </form>

    </div>
</div>
      </div>
        <div class="modal-footer" style="border: none">

            <button type="button" class="btn btnpink" data-dismiss="modal" style="width: auto">close</button>
        </div>
    </div>

  </div>
</div>
<div style="display: none;" class="cartpopover">
   <h1>hello</h1>
</div>

<script>

        function add_to_cart(id) {
            $.ajax({
                url: '/cart/add/'+id,
                dataType: 'json',
                success:function (e) {
                    var lenght=e['len']
                    var status=e['status']
                    $('.cart-lenght').html(lenght)
                      if (status == false) {

                        $(".test").effect( "bounce",
			                    {times:4}, 500 );
                    }else {
                        console.log('asd')
                      }

                }
            })
        }

</script>
</body>

</html>
