<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'cmd/jquery-ui.min.js' %}"></script>
    <script src="{% static 'cmd/bootstrap.js' %}"></script>

    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">tyson pharmacy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'product:index' %}">Free products</a></li>
        <li><a href="{% url 'user_profile:consulting_detail' %}">consulting</a></li>
          <li><a href="{% url 'refill:refill-info' %}">refill</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
            <a class="btn-success  cart" href="{% url 'cart:cart_detail' %}" id="popoverbtn" style="margin: 10px 0;padding: 5px 15px;border-radius: 5px;" href="" >
            <i class="fa fa-shopping-basket" aria-hidden="true"></i> your cart:
              {% if cart.len > 0 %}
                  <span class="cart-lenght">{{ cart.len }}</span>
              {% else %}
                  <span class="cart-lenght">0</span>
              {% endif %}
         </a>
        </li>
     {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">

                <li><a href="{% url 'user_profile:profile' %}" >{{ request.user.username }}</a></li>
                <li><a href="{% url 'user_profile:logout' %}">log Out</a></li>
          </ul>
        </li>
                {% else %}
                     <li><a href="" data-toggle="modal" data-target="#login">Login</a></li>
              {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
     <div>

      </div>
  </div><!-- /.container-fluid -->
</nav>

<br>
<br>    
<br>
<br>
<br>
    {% block content %}
    {% endblock %}

<footer style="background-color: #f1f1f1">
{#    <img src="{% static 'blog/steve.jpg' %}" style="visibility: hidden;" />#}
<div class="text-center" style="padding: 100px 0">
    <h1><a class="" href="" style=" font-family: 'Arial black';">pharmacy</a></h1>
    <p>
        <a target="_blank" style="padding-right: 0.5rem;"  href="" class="" ><i  class="fa fa-paper-plane fa-2x " ></i></a>
        <a target="_blank" style="padding-right: 0.5rem;"  href="" class=""><i i class="fa fa-instagram fa-2x "></i></a>
        <a target="_blank" style="" href= "" class=""><i  class="fa fa-envelope-square fa-2x "></i></a>
        <a target="_blank" style="" href="" class=""><i  class="fa fa-facebook fa-2x "></i></a>
        <a target="_blank" style="" href="" class=""><i  class="fa fa-twitter fa-2x "></i></a>
        <a target="_blank" style="" href="" class=""><i  class="fa fa-google-plus fa-2x "></i></a>
    </p>
    <p style="">
        <a type="button" href="" data-toggle="modal" data-target="#login" style=""><i class="fa fa-sign-in" aria-hidden="true"></i> login </a> |
        <a type="button" href="" data-toggle="modal" data-target="#aboutUs" style=""><i class="fa fa-eye" aria-hidden="true"></i> about us </a> |
        <a type="button" href="" data-toggle="modal" data-target="#callUs"style=""><i class="fa fa-phone" aria-hidden="true"></i> call us </a> |
        <a href="{% url 'terms' %}" > Terms and Conditions</a> |
        <a href="{% url 'privacy' %}">Privacy and Policy</a>
    </p>
    <p>AllRight reserved</p>
</div>

</footer>

<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin-top: 70px;width: 90%">

    <!-- Modal content-->
      <div class="modal-content" style="background-color: #f8f8f8;">
        <div class="modal-header" style="border: none">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title text-center">Tyson pharmacy</h1>
            <hr>
        </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 col-xs-12" style="">
                <h1>register</h1>
                <form class="" action="{% url 'user_profile:register' %}?next={{ request.path }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label >First name</label>
                        <input  class="form-control"  name="first_name" placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        <label >last name</label>
                        <input  class="form-control"  name="last_name" placeholder="Enter last name">
                    </div>
                    <div class="form-group">
                        <label >Email</label>
                        <input  class="form-control"  name="email" placeholder="Enter email adress">
                    </div>


                    <div class="form-group">
                        <label >password:</label>
                        <input type="password" class="form-control"  value="" name="password" placeholder="enter a password">
                    </div>
                    <br>
                    <button class="btn btn-primary " type="submit" style="">submit</button>
                </form>

              </div>
                <div class="col-md-6 col-xs-12" style="">
                    <h1>login form</h1>
                    <form action="{% url 'user_profile:login' %}?next={{ request.path }}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group">
                            <label >Email address</label>
                            <input type="email" class="form-control"  name="username" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label >Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
              </div>
          </div>
        </div>
          <div class="modal-footer" style="border: none">

              <button type="button" class="btn btnpink" data-dismiss="modal" style="width: auto">close</button>
          </div>
      </div>

    </div>
</div>




<script>
    $(document).ready(function() {
     $('[data-toggle="popover"]').popover();
  $('#popoverbtn').popover({
    trigger: 'manual',
    placement: 'bottom',
    html: true,
    content:  function() {
      return '<p>this drug is already in your cart</p> <a href="#" class="bastan" data-dismiss="alert">got it!</a>'
    },
  });
});


$(document).ready(function() {
  $(document).on("click", ".popover .bastan", function() {
    $(this).parents(".popover").popover('hide');
  });
});

        function add_to_cart(id) {
            $.ajax({
                url: '/cart/add/'+id,
                dataType: 'json',
                success:function (e) {
                    var lenght=e['len']
                    var status=e['status']
                    $('.cart-lenght').html(lenght)
                      if (status == false) {

                        $(".cart").effect( "bounce",
			                    {times:6}, 500 );
                    }else {
                        console.log('false')
                          $('#popoverbtn').popover('toggle');
                      }

                }
            })
        }

</script>
</body>

</html>
