{% extends 'base/base.html' %}


{% block title %} forgot password {% endblock %}

{%  block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" style="margin-bottom:155px ">
        <p style="font-size: 20px">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <br>
        <form method="post">
            {%  csrf_token %}
             <div class="form-group">

                 <lable>Email address:</lable>
                 <input class="form-control" type="email" name="email" style="width: 400px;margin: auto">
             </div>
            <button class="btn btn-success">Rest my password</button>
        </form>
    </div>
<br>
<br>
<br>
<br>
<br>

{%  endblock %}