{% extends 'base/base.html' %}


{% block title %} enter new password {% endblock %}

{%  block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" style="margin-bottom:155px ">
        {% if form %}
        <h2>Enter new password</h2>
        <p style="font-size: 20px">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <br>
            <div class="col-sm-6 col-sm-offset-3">

             {% if form.errors %}
    <div class="alert alert-error">
      <h4>Please fix the following errors</h4>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}
        <form method="post">
            {%  csrf_token %}

             <div class="form-group">
                 <lable>new confirm</lable>
                 <input class="form-control" type="password" name="new_password1" id="id_new_password1" required="">
             </div>

             <div class="form-group">
                 <lable>confirm new password</lable>
                 <input class="form-control" type="password" name="new_password2" id="id_new_password2" required="">
             </div>
            <button class="btn btn-success" type="submit">Change my password</button>
        </form>
            </div>
        {% else %}
            <h2>Password reset unsuccessful</h2>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.

</p>
        {% endif %}
    </div>
<br>
<br>
<br>
<br>
<br>

{%  endblock %}