{% extends 'base/base.html' %}


{% block title %}  Password reset complete
 {% endblock %}

{%  block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" style="margin-bottom:155px ">
        <h1>Password reset complete</h1>
        <p style="font-size: 20px">Your password has been set. You may go ahead and log in now.</p>
        <a href="" class="btn btn-dark"  data-toggle="modal" data-target="#login" >login</a>
        <br>

    </div>
<br>
<br>
<br>
<br>
<br>

{%  endblock %}