{% extends 'base/base.html' %}
<br>
{% load static %}
{% block style %}
    <style>
    .hover-cours:hover{
        cursor: hand;
    }
    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-group{
    margin: 0;
}

#img-upload{
    width: 100%;
}
    .slidepanel{
        display: none;
        padding: 20px;
        border-radius: 5px
    }
    .box-info-display{
        display: none;
    }
    @media screen  and (max-device-width: 768px){
        .back{
            display: none;
        }
    }
    .panelcontrol:hover{
        cursor: pointer;
    }
    </style>
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container-fluid" style="">
        <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-8 col-xs-12" >
        <form action="{% url 'refill:new-rx' %}"  method="post" class="form-horizontal" enctype='multipart/form-data'>
        <input type="hidden" value="1" name="drug_num">
            <h1 class="drug">drug info</h1>
            <p class="" style="height: 5px;width: 120px;border-radius: 5px;background-color: #1e7e34;"></p>
            <div class="well">
                <h2>what do you need?</h2>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                                <lable class="col-xs-3">drug name 1</lable>
                                <div class="col-xs-9">
                                    <input class="form-control" type="text" name="drug_name_1">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group" >
                                <lable class="col-xs-3">drug dose 1</lable>
                                <div class="col-xs-9">
                                    <input class="form-control col-xs-10" type="text" name="drug_dose_1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="forms"></div>
                    <a id="add-another">add another drug</a>
                </div>

            <h1 class="information">Please check you information  </h1>
            <p class="" style="height: 5px;width: 120px;border-radius: 5px;background-color: #1e7e34;"></p>

            <div class="row">
            <div class="col-sm-10 col-xs-12">
                <table class="table ">
                    <tr>
                        <td>First name:</td>
                        <td><input name="first_name" class="form-control" value="{{ user.first_name }}"></td>
                    </tr>
                    <tr>
                        <td>Last name:</td>
                        <td><input name="last_name" class="form-control" value="{{ user.last_name }}"></td>

                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td>
                            {% if form.Date_of_Birth.errors %}
                                {% for error in form.Date_of_Birth %}
                                    <li><span class="error " style="color: #9d0000">This field is required.</span></li>
                                {% endfor %}
                            {% endif %}
                            <input type="date" class="form-control" name="Date_of_Birth" {% if form.Date_of_Birth.value != None %}value="{{ form.Date_of_Birth.value|stringformat:'s' }}"{% endif %} required>

                        </td>
                </table>
            </div>
        </div>
            {#        <a href="{% url 'user_profile:update' %}" class="btn btn-warning">if any of this information are wrong please change theme here then come back</a>#}

            <h1 class="verify">verify option</h1>
            <p class="" style="height: 5px;width: 120px;border-radius: 5px;background-color: #1e7e34;"></p>

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                        <h4>Please fix the following errors</h4>
                        {{ form.non_field_errors }}
                    </div>
            {% endif %}

            {% csrf_token %}
            <div  class="well" >
                <div id="dr" class="panelcontrol">
                    <p>do you want us to contact your Dr,</p>
                </div>
                    <div id="dr-panel" class="slidepanel" >
                <div class="form-group" >
                    {% if form.Dr_name.errors %}
                        {% for error in form.Dr_name.errors %}
                            <li><span class="error " style="color: #9d0000">{{ error }}</span></li>
                        {% endfor %}
                    {% endif %}
                    <label>Your Dr name:</label>
                    <input type="text" class="form-control col-sm-6" name="Dr_name" {% if form.Dr_name.value != None %}value="{{ form.Dr_name.value|stringformat:'s' }}"{% endif %}>
                </div>

                        <div class="form-group">

                    {% if form.dr_phone_number.errors %}
                        {% for error in form.dr_phone_number.errors %}
                            <li><span class="error " style="color: #9d0000">{{ error|escape }}</span></li>
                        {% endfor %}
                    {% endif %}
                    <label>Your Dr phone No.:</label>
                    <input type="number" class="form-control" name="dr_phone_number" {% if form.dr_phone_number.value != None %}value="{{ form.dr_phone_number.value|stringformat:'s' }}"{% endif %}>
                </div>
                <div class="form-group">

                    {% if form.Dr_adrress.errors %}
                        {% for error in form.Dr_adrress.errors %}
                            <li><span class="error " style="color: #9d0000">{{ error|escape }}</span></li>
                        {% endfor %}
                    {% endif %}
                    <label>Your Dr address:</label>
                    <input type="text" class="form-control" name="Dr_adrress" {% if form.Dr_adrress.value != None %}value="{{ form.Dr_adrress.value|stringformat:'s' }}"{% endif %}>
                </div>
            </div>

            </div>
            <div class="well">
            <div id="pharmacy" class="panelcontrol">
                <p>or last pharmacy</p>
            </div>
            <div id="pharmacy-panel" class="slidepanel" >
                <div class="form-group">
                    {% if form.last_pharmacy.errors %}
                        {% for error in form.last_pharmacy.errors %}
                            <li><span class="error " style="color: #9d0000">{{ error|escape }}</span></li>
                        {% endfor %}
                    {% endif %}
                    <label>Your last pharmacy:</label>
                    <input type="text" class="form-control" name="last_pharmacy" {% if form.last_pharmacy.value != None %}value="{{ form.last_pharmacy.value|stringformat:'s' }}"{% endif %}>
                </div>
                <div class="form-group">
                    {% if form.last_pharmacy_adrress.errors %}
                        {% for error in form.last_pharmacy_adrress.errors %}
                            <li><span class="error " style="color: #9d0000">{{ error }}</span></li>
                        {% endfor %}
                    {% endif %}
                    <label>Your last pharmacy address:</label>
                    <input type="text" class="form-control" name="last_pharmacy_adrress" {% if form.last_pharmacy_adrress.value != None %}value="{{ form.last_pharmacy_adrress.value|stringformat:'s' }}"{% endif %}>
                </div>
            </div>
            </div>
            <div class="well">
                <div id="prescription" class="panelcontrol">
                    <p>or upload prescription</p>
                </div>
                <div id="prescription-panel" class="slidepanel">
                <div class="container">
                   <div class="col-md-6">
                       <div class="form-group">
                           <label>Upload Image</label>
                           <div class="input-group">
                               <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        Browse… <input type="file" id="imgInp" name="prescription" {% if form.prescription.value != None %}value="{{ form.prescription.value|stringformat:'s' }}"{% endif %}>
                                    </span>
                                </span>
                               <input type="text" class="form-control" readonly>
                           </div>
                           <img id='img-upload'/>
                       </div>
                   </div>
                </div>
            </div>
            </div>



                    <h1 class="address">chose your address <a class="btn btn-success" data-toggle="modal" data-target="#add-address" style="font-size: 17px">add another address</a></h1>
                    <p class="" style="height: 5px;width: 120px;border-radius: 5px;background-color: #1e7e34;"></p>

                    <div class="row">
                        <div class="col-sm-11 col-xs-11" style="height: 330px;overflow-x: scroll;">

                            {% if info %}
                                <div style="width: {% widthratio info.count 1 600 %}px;height: 301px;margin-bottom:0;display: flex">

                                    {% for i in info %}
                                        <div class="panel panel-default" style="height: 300px;width:300px;background-color: #f8f8f8;border-radius: 4px;border: 2px darkgrey solid;flex: 1;margin-right: 10px">
                                            <div class="panel-heading">address</div>
                                            <div class="panel-body">
                                                <p style="height: 50px">address : {{ i.address }}</p>
                                                <hr>
                                                <p>City : {{ i.city }}</p>
                                                <p>State : {{ i.city }}</p>
                                                <p>Zip : {{ i.zip }}</p>
                                            </div>
                                            <div class="panel-footer text-center">
                                                <input type="radio" name="info" id="info{{ forloop.counter }}" value="{{ i.pk }}"> chose this address
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="panel panel-default hover-cours" data-toggle="modal" data-target="#add-address" style="height: 300px;width:300px;background-color: #f8f8f8;border-radius: 4px;border: 2px darkgrey solid;flex: 1">
                                        <img src="{% static 'orders/add.png' %}" alt="" width="100%" height="100%">
                                    </div>
                                </div>
                            {% else %}
                                <div style="width: 300px;height: 301px;margin-bottom:0;display: flex">
                                    <div class="panel panel-default hover-cours" data-toggle="modal" data-target="#add-address" style="height: 300px;width:300px;background-color: #f8f8f8;border-radius: 4px;border: 2px darkgrey solid;flex: 1">
                                        <img src="{% static 'orders/add.png' %}" alt="" width="100%" height="100%">
                                    </div>
                                </div>
                            {% endif %}

                        </div>



                        <div class="col-sm-1 col-xs-1 text-center" style="background-color: #f7f7f7;height: 301px;padding: 0;border-radius: 10px">
                            <p class=""style="position: absolute;right: 10%;top:40%;font-size: 50px"><i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                        </div>
                    </div>






                {% if info %}
                    <button class="btn btn-warning" style="float: right" type="submit" >submit <i class="fa fa-check-square-o" aria-hidden="true"></i></button>

                {% else %}
                    <a class="btn btn-warning" style="float: right" disabled="" >for subimt please add an address information <i class="fa fa-info" aria-hidden="true"></i></a>
                    <br>
                {% endif %}

            </form>

            <br>
            <br>
            <br>
        </div>
        <div class="col-sm-4" style="padding: 20px">
            <div class="affix back" style="">
                &nbsp;
                <div id="information" class="box-info-display">
                    <h4>Information</h4>
                    <p>you can cahnge information </p>
                </div>
                <div id="verify" class="box-info-display">
                    <h4>how can we verify your order??</h4>
                    <p>chose at least one the left method </p>
                    <div id="dr-info" class="box-info-display">
                        <p>type your dr info</p>
                    </div>
                    <div id="pharmacy-info" class="box-info-display">
                        <p>type your last pharmacy info</p>
                    </div>
                    <div id="prescription-info" class="box-info-display">
                        <p>upload your prescription</p>
                    </div>
                </div>
                <div id="drug" class="box-info-display">
                    <h4>what do you need</h4>
                    <p>if you need add more drug just click more drug </p>
                </div>
                <div id="address" class="box-info-display">
                    <h4>where do you want to delivered</h4>
                    <p>you can add more than one it will be save for next purchast  </p>
                    <p>scroll right in this section to see more of your addresses</p>
                </div>
                    <p class="left-arrow"style="font-size: 20px"><i class="fa fa-arrow-left" aria-hidden="true"></i></p>
            </div>
        </div>
        </div>
    </div>


    <div id="add-address" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin-top: 70px;width: 90%">

            <div class="modal-content" style="background-color: #f8f8f8;">
                <div class="modal-header" style="border: none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title text-center">add your address</h1>
                    <hr>
                </div>
                <div class="modal-body">
                    <form action="{% url 'user_profile:create-userinfo' %}?next={{ request.path }}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <lable>address</lable>
                            <input class="form-control" type="text" name="address">
                        </div>
                        <div class="form-group">
                            <lable>city</lable>
                            <input class="form-control" type="text" name="city">
                        </div>
                        <div class="form-group">
                            <lable>zip</lable>
                            <input class="form-control" type="text" name="zip">
                        </div>
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="form-control btn-success" type="submit">submit</button>
                    </form>

                </div>
                <div class="modal-footer" style="border: none">

                    <button type="button" class="btn btnpink" data-dismiss="modal" style="width: auto">close</button>
                </div>
            </div>
        </div>
    </div>
    {% if not user.phone_number %}
        <div class=" phone-box " style="position:fixed;bottom: 5px;right: 5px;border-radius: 5px;padding: 10px;background-color: #bcc6ce;transition: .4s ">
            <div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <h5 class="display" style="margin-top: 0">add your phone number to get payment notification</h5>
            <h5 class="display">and better services</h5>
            <form method='post' class="form-inline display" id ='test'>
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="" class="sr-only">Mobile number:</label>
                    <input class="form-control " name="phone_number" type="tel" value="" placeholder="+999999999 ">
                    <input class="form-control btn btn-success" type='submit' value='submit'/>
                </div>
            </form>
            <div id='message'></div>
        </div>
    {% endif %}
<script>
    $(document).ready(function () {
        $('input[id=info1]').attr('checked','checked');
        $('#dr').click(function(){
            $("#dr-panel").slideToggle("slow");
        });
        $('#pharmacy').click(function(){
            $('#pharmacy-panel').slideToggle("slow");
        });
        $('#prescription').click(function(){
            $('#prescription-panel').slideToggle("slow");
        });
    })

    {#    add another drug#}
    form_count = Number($("[name=drug_num]").val());
    $("#add-another").click(function() {
        form_count ++;

        element = $('<hr><div class="row">\n' +
            '                <div class="col-xs-6">\n' +
            '                    <div class="form-group">\n' +
            '                        <lable class="col-xs-3">drug name '+form_count+'</lable>\n' +
            '                        <div class="col-xs-9">\n' +
            '                            <input class="form-control" type="text" name="drug_name_'+form_count+'">\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                </div>\n' +
            '                <div class="col-xs-6">\n' +
            '                <div class="form-group" >\n' +
            '                    <lable class="col-xs-3">drug dose '+form_count+'</lable>\n' +
            '                    <div class="col-xs-9">\n' +
            '                        <input class="form-control col-xs-10" type="text" name="drug_dose_'+form_count+'">\n' +
            '                    </div>\n' +
            '                </div>\n' +
            '                </div>\n' +
            '                </div>');

        $("#forms").append(element);
        // build element and append it to our forms container

        $("[name=drug_num]").val(form_count);
        // increment form count so our view knows to populate
        // that many fields for validation

        $('#dr').selected(function(){
            console.log('hi')
            $("#dr-panel").slideDown("slow");
            $('#panel2').slideUp("slow")


        });
    })
$(document).ready( function() {
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {

		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;

		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }

		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();

		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }

		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		});
	});


    $(document).ready(function() {
       $("#test").submit(function(event){
            $.ajax({
                 type:"POST",
                 url:"/user/add-phone/",
                 data: {
                        'phone_number': $('input[name=phone_number]').val() // from form
                        },
                dataType: 'json',
                 success: function(data){
                     if(data['result']['phone_number']) {
                         $('#message').html("<p>" + data['result']['phone_number'] + "</p>")
                     }else {
                         $('.phone-box').removeClass('alert-danger').addClass('alert-success')
                         $('.display').css('display','none')
                         $('#message').html("<h5><i class=\"fa fa-check-circle-o\" aria-hidden=\"true\"></i> you phone number added successfully</h2>")

                     }
                 }
            });
            return false;
       });
        $('.close').click(function () {
            $('.phone-box').css('display','none')
        })
});
</script>
{#    scroll spy for more info box#}
    <script>
        $(document).scroll(function () {
            var box=$('.left-arrow')
            if (box.offset()['top']>$('.information').offset()['top'] && box.offset()['top']<$('.verify').offset()['top']){
                console.log('information')
                $('#information').removeClass('box-info-display')
                $('#verify').addClass('box-info-display')
                $('#drug').addClass('box-info-display')
                $('#address').addClass('box-info-display')
            }else if (box.offset()['top']>$('.verify').offset()['top'] && box.offset()['top']<$('.address').offset()['top']){
                console.log('verify')
                $('#information').addClass('box-info-display')
                $('#verify').removeClass('box-info-display')
                $('#drug').addClass('box-info-display')
                $('#address').addClass('box-info-display')
                if(box.offset()['top']>$('#dr').offset()['top'] && box.offset()['top']<$('#pharmacy').offset()['top']){
                    $('#dr-info').removeClass('box-info-display')
                    $('#pharmacy-info').addClass('box-info-display')
                    $('#prescription-info').addClass('box-info-display')
                }else if(box.offset()['top']>$('#pharmacy').offset()['top'] && box.offset()['top']<$('#prescription').offset()['top']){
                    $('#dr-info').addClass('box-info-display')
                    $('#pharmacy-info').removeClass('box-info-display')
                    $('#prescription-info').addClass('box-info-display')
                }else if(box.offset()['top']>$('#prescription').offset()['top'] ){
                    $('#dr-info').addClass('box-info-display')
                    $('#pharmacy-info').addClass('box-info-display')
                    $('#prescription-info').removeClass('box-info-display')
                }
            }else if (box.offset()['top']>$('.drug').offset()['top'] && box.offset()['top']<$('.information').offset()['top']){
                console.log('drug')
                $('#information').addClass('box-info-display')
                $('#verify').addClass('box-info-display')
                $('#drug').removeClass('box-info-display')
                $('#address').addClass('box-info-display')
            }else if (box.offset()['top']>$('.address').offset()['top'] ){
                console.log('address')
                $('#information').addClass('box-info-display')
                $('#verify').addClass('box-info-display')
                $('#drug').addClass('box-info-display')
                $('#address').removeClass('box-info-display')
            }

        })







    </script>
{% endblock %}