{% extends 'base/base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container">


<head>
  <title>checkout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 20px;
      z-index: 9999 !important;
  }
  </style>
</head>
<body>

<div class="container-fluid" style="height:20px;">
  <h1><strong>checkout</strong></h1>
</div>
<br>

<div class="container">
  <div class="row">
    <nav class="col-sm-3 pull-right">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="500">
        <div class="panel panel-default">
                <div class="panel-header" > Order summary</div>
                <div class="panel-body">
                   <table>
                       <tbody>
                       {% for item in drug %}
                           <tr class="total">
                               <td>{{ item.drug_name }}</td>
                                <td>${{ item.drug_price }}</td>
                           </tr>
                       {% endfor %}
                           <tr class="total">
                               <td>Shipping & handling:</td>
                                <td></td>
                           </tr>
                       <tr>
                           <td>total </td>
                           <td>${{ amount }}</td>

                       </tr>
                       </tbody>
                   </table>
            </div>
        </div>
      </ul>
    </nav>
  </div>
</div>

</body>

<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
  </head>
  <body>

    <form id="payment-form" action="." method="POST">
        {% csrf_token %}
      <div id="dropin-container"></div>
            {% if braintree_error %}
                <div class="alert alert-danger fade in">
                 <button class="close" data-dismiss="alert">&times;</button>
                {{ braintree_error|safe }}
                </div>
            {% endif %}
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Pay now!"/>
        <input type="hidden" id="nonce" name="payment_method_nonce"/>
    </form>

    <script src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>
<script>
    $(document).ready(function () {
  var form = document.querySelector("#payment-form");
  var client_token = '{{ braintree_client_token }}';
  var HidenInputnonce = document.querySelector('input[name="payment_method_nonce"]');

  braintree.dropin.create({
    authorization: client_token,
    container: '#dropin-container',
    paypal: {
      flow: "checkout",
        amount: "10",
        curency:"USD"
    }
  }, function (createErr, dropinInstance) {
    form.addEventListener('submit', function (event) {
        event.preventDefault();
      dropinInstance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }
        // Add the nonce to the form and submit
        console.log(payload.nonce);
        HidenInputnonce.value = payload.nonce;
        form.submit();
      });

    //if (dropinInstance.isPaymentMethodRequestable()){form.removeAttribute('disabled');}
    //dropinInstance.on('paymentMethodRequestable', function (event) {
      //  console.log(event.type);
        //console.log(event.paymentMethodIsSelected);
        //form.removeAttribute('disabled');
    //});
    //dropinInstance.on('noPaymentMethodRequestable', function () {
      //  form.setAttribute('disabled', true);

  //  })
    });
  });

    })
</script>

  </body>
{% endblock %}
<!--
        });}






