{% extends 'base/base.html' %}


{% block content %}
    <br>
    <br>
    <br>
<div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style="background-color: #f1f1f1;min-height: 50vh;border-radius: 5px">
        <h1 class="text-center" style="">Chose your refill method</h1>
        <div class="col-sm-6 col-xs-12" style="padding: 40px;height: 100%;margin-bottom: 20px">
            <div class="text-center" style="width: 100%;background-color: white;padding: 20px;height: 100%;border-radius: 5px;color: #848484">
                <h3  style="">One click refil</h3>
                <p>with one click you can refill one your previous orders</p>
                <br>
                <a href="{% url 'user_profile:one-click-refill' %}" class="btn btn-success">One click refill</a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12" style="padding: 40px;height: 100%;">
            <div class="text-center"style="width: 100%;background-color: white;padding: 20px;height: 100%;border-radius: 5px;color: #848484">
                <h3  style="">Refill form</h3>
                <p>you can order new drugs we already have you informations</p>
                <br>
                <a href="{% url 'refill:refill-form' %}" class="btn btn-success">Refill form</a>
            </div>
        </div>
    </div>
</div>
    <br>
    <br>
{% endblock %}